<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un artiste</title>
</head>
<body>
    <h1>Ajouter un nouvel artiste</h1>
    <form action="/artist/upload" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Nom de l'artiste" required>
        <textarea name="description" placeholder="Description de l'artiste" required></textarea>
        <input type="file" name="image" required> <!-- Image -->

        <!-- Ajoutez des champs pour choisir les albums et les musiques -->
        <label for="albums">Albums :</label>
        <select name="albums" multiple>
            <!-- Vous devrez remplir dynamiquement cette liste avec les albums existants -->
            <% if (albums.length > 0) { %>
                <% albums.forEach(album => { %>
                    <option value="<%= album._id %>"><%= album.title %></option>
                <% }); %>
            <% } else { %>
                <option disabled selected>Pas d'album trouver</option>
            <% } %>
        </select>

        <label for="musics">Musiques :</label>
        <select name="musics" multiple>
            <!-- Vous devrez remplir dynamiquement cette liste avec les musiques existantes -->
            <% if (musics.length > 0) { %>
                <% musics.forEach(music => { %>
                    <option value="<%= music._id %>"><%= music.title %></option>
                <% }); %>
            <% } else { %>
                <option disabled selected>Pas de musique trouver</option>
            <% } %>
        </select>

        <button type="submit">Uploader</button>
    </form>
</body>
</html>
