<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un album</title>
    <link rel="stylesheet" href="/css/edit/style.css"> <!-- Assurez-vous que le chemin est correct -->
</head>
<body>
    <div class="container">
        <h1>Ajouter un nouvel album</h1>
        <form action="/album/upload" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">Titre de l'album:</label>
                <input type="text" id="title" name="title" placeholder="Titre de l'album" required>
            </div>

            <div class="form-group">
                <label for="artist">Artiste:</label>
                <select id="artist" name="artist" required>
                    <% artists.forEach(artist => { %>
                        <option value="<%= artist._id %>"><%= artist.name %></option>
                    <% }); %>
                </select>
            </div>

            <div class="form-group">
                <label for="musics">Musiques:</label>
                <select id="musics" name="musics" multiple required>
                    <% musics.forEach(music => { %>
                        <option value="<%= music._id %>"><%= music.title %></option>
                    <% }); %>
                </select>
            </div>

            <div class="form-group">
                <label for="releaseDate">Date de sortie:</label>
                <input type="date" id="releaseDate" name="releaseDate" required>
            </div>

            <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="description" name="description" placeholder="Description de l'album" required></textarea>
            </div>

            <div class="form-group">
                <label for="image">Image de l'album:</label>
                <input type="file" id="image" name="image" required>
            </div>

            <button type="submit" class="btn-submit">Ajouter</button>
        </form>
    </div>
</body>
</html>
