<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un artiste</title>
    <link rel="stylesheet" href="/css/edit/style.css">
</head>
<body>
    <div class="container">
        <h1>Ajouter un nouvel artiste</h1>
        <form action="/artist/upload" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Nom de l'artiste:</label>
                <input type="text" id="name" name="name" placeholder="Nom de l'artiste" required>
            </div>

            <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="description" name="description" placeholder="Description de l'artiste" required></textarea>
            </div>

            <div class="form-group">
                <label for="image">Image:</label>
                <input type="file" id="image" name="image" required>
            </div>

            <!-- Les champs selects pour albums et musiques -->

            <button type="submit" class="btn-submit">Ajouter</button>
        </form>
    </div>
</body>
</html>
