<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter de la musique</title>
</head>
<body>
    <h1>Ajouter une nouvelle musique</h1>
    <form action="/music/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Uploader</button>
    </form>
</body>
</html>
