<!-- addPlaylist.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter une playlist</title>
</head>
<body>
    <h1>Ajouter une nouvelle playlist</h1>
    <form action="/playlist/upload" method="post" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Titre de la playlist" required>
        
        <!-- Ajoutez un champ select pour choisir l'artiste -->
        <select name="artist" required>
            <!-- Vous devrez remplir dynamiquement cette liste avec les artistes existants -->
            <% artists.forEach(artist => { %>
                <option value="<%= artist._id %>"><%= artist.name %></option>
            <% }); %>
        </select>
        
        <!-- Ajoutez un champ select pour choisir les musiques -->
        <select name="musics" multiple required>
            <!-- Vous devrez remplir dynamiquement cette liste avec les musiques existantes -->
            <% musics.forEach(music => { %>
                <option value="<%= music._id %>"><%= music.title %></option>
            <% }); %>
        </select>
        
        <input type="file" name="image" required> <!-- Image de la playlist -->
        <textarea name="description" placeholder="Description de la playlist" required></textarea>
        <button type="submit">Ajouter</button>
    </form>
</body>
</html>
