<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/list/style.css">
    <title>Liste des Albums</title>
</head>
<body>
    <h1>Liste des Albums</h1>

    <!-- Formulaire de recherche -->
    <form action="/album" method="get">
        <input type="text" name="query" placeholder="Rechercher des albums..." value="<%= query || '' %>">
        <button type="submit">Rechercher</button>
    </form>

    <!-- Affichage des albums -->
    <ul>
        <% albums.forEach(album => { %>
            <li>
                <div class="album-info">
                    <%= album.title %>
                </div>
                <div class="btn-group">
                    <a class="btn btn-edit" href="/album/edit/<%= album._id %>">Éditer</a>
                    <form action="/album/delete/<%= album._id %>" method="post">
                        <button class="btn btn-delete" type="submit">Supprimer</button>
                    </form>
                </div>
            </li>
        <% }); %>
    </ul>
</body>
</html>
