<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Statistiques</title>
</head>
<body>
    <h1>Statistiques</h1>
    <p>Nombre de Morceaux: <%= musicCount %></p>
    <p>Nombre d'Albums: <%= albumCount %></p>
</body>
</html>
